{% extends 'base.twig' %}

{% block content %}

<div class="container-fluid">
    	<div class="row">
			<div class="col-sm-12 col-md-3">
				<div class="">
					<h2 class="headings">BIO</h2>
					<p>Born in Denton, TX 1986  Lives and works in New York, NY</p>
				</div>
				<div class="">
					<h2 class="headings">education</h2>
					<p>2008 BFA, Drawing and Painting, Watercolor concentration, University of North Texas, Denton, TX</p>
				</div>
				<div class="">
					<h2 class="headings">contact</h2>
					<p>Interested in working with Andrew? Get ahold of him below. machomanandysavage @gmail.com +1.347.930.9758</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="">
					<h2 class="headings">SOLO EXHIBITIONS</h2>
					<p>2016</p>
					<p>New Paintings, 2016 Knockdown Center Queens, NY</p>
					<p>Portobello Road Mural Opening Reception Beggars Group NYC New York City, NY</p>
					<p>2015</p>
					<p>Farbstudien Gold Und Beton Köln, DE</p>
					<p>Color Studies 2015 The Shop Brooklyn, NY</p>
					<p>2008</p>
					<p>Solo graduation show  Lightwell Gallery University of North Texas Denton, TX</p>
				</div>
				<div class="">
					<h2 class="headings">GROUP EXHIBITIONS</h2>
					<p>2017</p>
					<p>Safe Gallery Brooklyn, NY</p>
				</div>
				<div class="">
					<h2 class="headings">SELECTED PROJECTS</h2>
					<p>2017<p>
					<p>Eva Hesse: Diaries.   Conversation with Jennifer Blessing (Senior Curator, Photography, Solomon R. Guggenheim Museum) Hauser &amp; Wirth New York, NY<p>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="">
					<h2 class="headings">AWARDS</h2>
					<p>2017</p>
					<p>Nominated Best Recording Packaging Grammy Awards "Human Performance" Parquet Courts</p>
					<p>2016 </p>
					<p>Nomination Best Art Vinyl 2016 Artvinyl.com "Human Performance" Parquet Courts</p>
				</div>
				<div class="">
					<h2 class="headings">PUBLISHING</h2>
					<p>2017</p>
					<p>Here We Come (five illustrations) Lucky Peach Summer 2017</p>
					<p>2016</p>
					<p>Cover illustration Ad Hoc #12 August 2016</p>
					<p>Cover illustration Deluxe April 2016</p>
					<p>2015</p>
					<p>Ink History Vol. I Dull Tools July 2015</p>
					<p>2014</p>
					<p>PCPC  Dull Tools  November 2014</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="">
					<h2 class="headings">PRESS</h2>
					<p>Grammy's Bound: Andrew Savage</p>
					<p>Record sleeves of the year #03: Parquet Courts, Human Performance</p>
					<p>On My Radar: Andrew Savage</p>
					<p>Master of His Craft</p>
					<p>Andrew Savage To Debut Solo Art Exhibition</p>
				</div>
			</div>
    	</div>
    </div>
{% endblock%}