@font-face {
    font-family: 'Basis Grotesque Mono';
    src: url('../../fonts/basis-grotesque-regular-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Leitura';
    src: url('../../fonts/Leitura-Roman 1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Leitura Roman 3';
    src: url('../../fonts/Leitura-Roman 3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}